
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root
{
	--beige-main: #D8C1B4;
	--beige-darker: #AB988F;
	--purple: #291F26;
	--content-inner-overlay: #291F2690;

	--div-shadow-color: #00000088;
	--div-shadow-size: 30px;

	--font-sans-serif: 'Mukta', sans-serif;
	--font-serif: 'Gentium Book Plus', serif;

	--navbar-font-size: 24px;

	--small-gap: 9px;
	--page-side-gap: 27px;
}

::-webkit-scrollbar {
    width: var(--small-gap);
    background-color: transparent;
}

::-webkit-scrollbar-track {
	margin-block: var(--small-gap);
}

::-webkit-scrollbar-thumb {
    background-color: #00000030;
    border-radius: var(--small-gap);
	/* border: 1px transparent solid; */
    background-clip: padding-box;
}

html, body
{
	margin: 0;
	padding: 0;
}

a
{
	all: unset;
	cursor: pointer;
}

.main-div
{
	max-height: 100vh;
	min-height: 100vh;
	margin: 0;
	padding: 0;

	background-color: var(--beige-darker);
	background-image: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.navbar
{
	flex-grow: 0;
	flex-shrink: 0;

	margin: 0;
	padding: 0;

	background-color: var(--beige-darker);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: var(--small-gap);

	padding: var(--small-gap);
}

.navbar-left, .navbar-right
{
	flex-grow: 0;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	gap: var(--small-gap);
}

.navbar-left
{
	justify-content: flex-start;
	align-items: center;
	margin-left: var(--page-side-gap);
}

.logo-link
{
	margin: 0;
	padding: 0;
	font-size: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--small-gap);
}

.logo
{
	margin: 0;
	padding: 0;

	border-radius: 100%;
}

.logo-title
{
	margin: 0;
	padding: 0;
	margin-bottom: -5px;
	
	white-space: nowrap;

	font-family: var(--font-sans-serif);
	font-weight: 800;
	color: var(--purple);
	font-size: 36px;
}

.navbar-right
{
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-left: var(--page-side-gap);
	margin-right: var(--page-side-gap);
}

.page-link
{
	margin: 0;
	padding: 0;

	background-color: var(--beige-main);
	border-radius: 60px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.page-link > span
{
	margin: 0 var(--navbar-font-size) 0 var(--navbar-font-size);
	padding: 0;

	font-family: var(--font-sans-serif);
	font-weight: 600;
	color: var(--purple);
	font-size: var(--navbar-font-size);
}

.content
{
	flex-grow: 1;

	margin: 0;
	padding: 0;
	padding-left: 171px;
	padding-right: 171px;

	overflow: hidden;

	box-shadow: inset 0 var(--div-shadow-size) var(--div-shadow-size) calc(-1 * var(--div-shadow-size)) var(--div-shadow-color);

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.content-inner
{
	flex-grow: 1;
	min-width: 600px;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: stretch;

	background-color: var(--content-inner-overlay);

	box-shadow: 0 0 var(--div-shadow-size) 0 var(--div-shadow-color);
}

.content-div
{
	flex-grow: 1;

	max-width: calc(100vw - 4 * var(--small-gap));
	margin: 0 var(--small-gap) 0 var(--small-gap);
	padding: var(--small-gap);

	overflow-y: auto;

	background-color: transparent;
}

p, h1
{
	margin: 0;
}
