
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root
{
	--beige-main: #D8C1B4;
	--beige-darker: #AB988F;

	--div-shadow-color: #00000088;
	--div-shadow-size: 30px;

	--font-sans-serif: 'Mukta', sans-serif;
	--font-serif: 'Gentium Book Plus', serif;
}

html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-div
{
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: magenta;
	background-image: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.navbar
{
	flex-grow: 0;
	flex-shrink: 0;

	height: 90px;
	margin: 0;
	padding: 0;

	background-color: var(--beige-darker);
}

.content
{
	flex-grow: 1;

	margin: 0;
	padding: 0;

	box-shadow: inset 0 var(--div-shadow-size) var(--div-shadow-size) calc(-1 * var(--div-shadow-size)) var(--div-shadow-color);
	overflow: hidden;
	
	padding-left: 180px;
	padding-right: 180px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.content-inner
{
	flex-grow: 1;
	min-width: 500px;

	height: 100%;
	margin: 0;
	padding: 0;

	background-color: #00000030;
	
	box-shadow: 0 0 var(--div-shadow-size) 0 var(--div-shadow-color);
}

p, h1
{
	margin: 0;
}
